<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ijambo Ryinyegeje</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="game-container">
    <div id="timer">10</div>
    <div id="word-display"></div>
    <input type="text" id="user-input" />
    <button id="submit-button">KWEMEZA</button>
    <div id="results"></div>
    <div id="come-back-tomorrow"></div>
    <div id="correct-words-container">
      <ul id="correct-words-list"></ul>
    </div>
  </div>
  <script src="game.js"></script>
</body>
</html>
