<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Curura</title>
  <link rel="stylesheet" href="/style.css?<%= @css_version %>" type="text/css">
</head>
<body>
  <div id="game-container">
    <div id="logo-container">
      <img src="logos/3.png?<%=@css_version %>" alt="Logo" id="logo"> <!-- Update the src with your logo's path -->
    </div>
    <div id="today"></div>
    <div id="timer">30</div>
    <div id="word-display"></div>
    <input type="text" id="user-input" />
    <button id="submit-button">KWEMEZA</button>
    <div id="results"></div>
    <div id="come-back-tomorrow"></div>
    <div id="correct-words-container">
      <ul id="correct-words-list"></ul>
    </div>
  </div>
  <!-- Footer -->
  <footer id="footer">
    <a href="https://linktr.ee/ndakundaikirundi" target="_blank">© 2024 Ndakunda Ikirundi</a>
  </footer>
  <script src="game.js"></script>
</body>
</html>
