<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kirundi Word Puzzle Game</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="game-container">
    <div id="timer">60</div>
    <div id="word-display"></div>
    <input type="text" id="user-input" />
    <button onclick="submitWord()">Submit</button>
  </div>
  <script src="game.js"></script>
</body>
</html>
