body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  text-align: center; /* Ensures that all text is centered, useful for mobile screens */
}

#game-container {
  padding: 5vh 5%; /* Use viewport height for vertical padding and percentage for horizontal padding */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#timer,
#word-display,
#results {
  font-size: 2.5rem; /* Increase font size for better visibility */
  margin: 2vh 0; /* Add vertical margin based on viewport height */
  width: 100%;
  max-width: 600px; /* Limits the width on larger devices */
}

#word-display {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2vh 0; /* Use viewport height for padding to ensure it scales well on different screens */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#user-input {
  font-size: 2rem; /* Updated font size for better proportionality */
  padding: 2vh 20px; /* Slightly increased vertical padding for better balance */
  width: calc(100% - 40px); /* Ensure input does not exceed screen width */
  margin: 2vh 0 4vh; /* Maintain margin to add space around the input field */
  border: 2px solid #007bff;
  border-radius: 8px;
}

button {
  font-size: 1.5rem;
  padding: 1.5vh 20px; /* Adjust padding for better touch target size */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Set a relative width for the button */
  max-width: 300px; /* Limit the maximum width */
}

button:hover {
  background-color: #0056b3;
}

#results {
  font-size: 2rem;
  color: #007bff;
  margin: 4vh 0 2vh; /* Adjust margin to provide more space before the results */
}

@media (max-width: 768px) {
  #timer,
  #word-display,
  #results {
    font-size: 2rem; /* Adjust font size for smaller devices */
  }
}

#correct-words-container {
  margin-top: 20px;
}

#correct-words-list {
  list-style-type: none; /* Removes the default list bullets */
  padding: 0;
}

#correct-words-list li {
  font-size: 2rem; /* Adjust based on your design */
  margin: 5px 0;
}
