body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#game-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5%; /* Adjust padding to ensure it doesn't overlap with the footer */
  width: 100%;
  box-sizing: border-box; /* Ensures padding does not affect the overall width */
}

footer#footer {
  color: black;
  font-size: 2.5rem; /* Increased font size */
  padding: 2rem; /* Increased padding for larger touch targets and visibility */
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
}

footer#footer a {
  color: black; /* Ensures the link is white */
  text-decoration: none; /* Removes underline from the link */
}

footer#footer a:hover {
  text-decoration: underline; /* Adds underline on hover for better visibility */
}

@media (max-width: 768px) {
  footer#footer {
    font-size: 1.8rem; /* Even larger font size on smaller devices */
    padding: 2.5rem; /* Slightly more padding on smaller devices */
  }
}

#timer,
#word-display,
#today,
#results {
  font-size: 2.5rem; /* Increase font size for better visibility */
  margin: 2vh 0; /* Add vertical margin based on viewport height */
  width: 100%;
  max-width: 600px; /* Limits the width on larger devices */
}

#word-display {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2vh 0; /* Use viewport height for padding to ensure it scales well on different screens */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#user-input {
  font-size: 2rem; /* Updated font size for better proportionality */
  padding: 2vh 20px; /* Slightly increased vertical padding for better balance */
  width: calc(100% - 40px); /* Ensure input does not exceed screen width */
  margin: 2vh 0 4vh; /* Maintain margin to add space around the input field */
  border: 2px solid #007bff;
  border-radius: 8px;
}

button {
  font-size: 1.5rem;
  padding: 1.5vh 20px; /* Adjust padding for better touch target size */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Set a relative width for the button */
  max-width: 300px; /* Limit the maximum width */
}

button:hover {
  background-color: #0056b3;
}

#results {
  font-size: 2rem;
  color: #007bff;
  margin: 4vh 0 2vh; /* Adjust margin to provide more space before the results */
}

#countdown-timer {
  font-size: 2rem;
}

@media (max-width: 768px) {
  #timer,
  #countdown-timer,
  #word-display,
  #results {
    font-size: 2rem; /* Adjust font size for smaller devices */
  }
}

#correct-words-container {
  margin-top: 20px;
}

#correct-words-list {
  list-style-type: none; /* Removes the default list bullets */
  padding: 0;
}

#correct-words-list li {
  font-size: 2rem; /* Adjust based on your design */
  margin: 5px 0;
}

button {
  font-size: 2rem; /* Increase font size for better visibility */
  padding: 1.5vh 20px; /* Adjust padding to ensure text is well-spaced and the button is easy to tap */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto; /* Adjust width as necessary, or keep it auto for content-based sizing */
  max-width: 300px; /* Keep or adjust the max-width as per your design requirements */
  margin: 20px 0; /* Add some margin to ensure space around the button */
}

button:hover {
  background-color: #0056b3;
}

#share-button {
  min-width: 200px; /* Adjust this value based on your needs */
  padding: 20px; /* Adjust the padding values as needed */
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-icon {
  margin-right: 15px; /* Adjust the space as needed */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s linear infinite;
}
